<!DOCTYPE html>
<!--a template for any more recipe pages to be added to the list-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{insert recipe name}</title>
</head>
<body>
    <h1> {insert recipe name}</h1>
    <img src="path to image" alt="text description">

    <h3><u>Description</u></h3>

    <p>{insert description of dish}</p>

    <h3>Ingredients</h3>
    <ul>
        <!--add and remove <li></li> as reuired by the recipe-->
        <li>{insert ingredient}</li>
        <li>{insert ingredient}</li>
        <li>{insert ingredient}</li>
        <li>{insert ingredient}</li>
        <li>{insert ingredient}</li>
        <li>{insert ingredient}</li>
    </ul>

    <h2>Directions</h2>

    <ul>
        <!--add and remove steps as required-->
        <li><h4><strong>Step #</strong></h4>
            <p>decription </p>
            <img src="img source" alt = "image decription">
        </li>

        <li><h4><strong>Step #</strong></h4>
            <p>decription </p>
            <img src="img source" alt = "image decription">
        </li>

        <li><h4><strong>Step #</strong></h4>
            <p>decription </p>
            <img src="img source" alt = "image decription">
        </li>

        <li><h4><strong>Step #</strong></h4>
            <p>decription </p>
            <img src="img source" alt = "image decription">
        </li>
    </ul>
</body>
</html>